.countdown {
	float: left;
	margin-top: 5px;
}

.countdown--digit {
	font-size: 2.5em;
	font-weight: bold;
	background-color: #ffda00;
	padding: 5px;
	width: 80px;
	text-align: center;
	display: inline-block;
	border-radius: 4px;
	margin: 5px 3px 0 0;
}

.countdown--unit {
	font-size: 0.37em;
	font-weight: 100;
	color: #ffffff;
	background-color: #000000;
}

.countdown-message {
	color: #fff;
	font-weight: 700;
	font-size: 25px;
	text-align: center;
	padding-top: 12px;
}